Project/Library/PackageCache
Project/Library/ArtifactDB
Project/Assets/Plugins/Asset Store Packages/RainbowAssets
Project/Assets/Plugins/Asset Store Packages/RainbowAssets.meta
Project/Temp/UnityLockfile